<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg">
      <svg class="icon display-block" width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.3125 0C3.39797 0 0 2.70219 0 6.29018C0 9.87819 3.39797 12.5804 7.3125 12.5804C9.03008 12.5804 10.6482 12.0601 11.9235 11.1731L15.2663 13.9952C15.5828 14.2624 16.056 14.2224 16.3232 13.9059C16.5904 13.5894 16.5504 13.1162 16.2339 12.849L13.0687 10.1769C14.0371 9.12174 14.625 7.78259 14.625 6.29018C14.625 2.70219 11.2271 0 7.3125 0ZM1.5 6.29018C1.5 3.75865 3.97829 1.5 7.3125 1.5C10.6467 1.5 13.125 3.75865 13.125 6.29018C13.125 8.82173 10.6467 11.0804 7.3125 11.0804C3.97829 11.0804 1.5 8.82173 1.5 6.29018Z" fill="black"/>
      </svg>
    </button>
  </span>
</div>