<form method="POST" action="{{ url }}" accept-charset="utf-8">
	<input type="hidden" name="data" value="{{ data }}"/>
	<input type="hidden" name="signature" value="{{ signature }}"/>
	<div class="buttons">
		<div class="pull-right">
			<input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png"/>
		</div>
	</div>
</form>

